<div class="widget">
<div id="socials">
<ul>
<li>
	<a href="https://github.com/byliz" target="_blank" title="Github"><i class="fab fa-fw fa-github"></i></a>
</li>
<li>
	<a href="https://twitter.com/smugcroc" target="_blank" title="Twitter"><i class="fab fa-fw fa-twitter"></i></a>
</li>
<li>
	<a href="http://yt.lizlorena.com" target="_blank" title="YouTube"><i class="fab fa-fw fa-youtube"></i></a>
</li>
<li>
	<a href="https://linkedin.com/in/byliz" title="LinkedIn" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
</li>
<li>
	<a href="http://links.lizlorena.com" target="_blank" title="All Profiles"><i class="fas fa-fw fa-link"></i></a>
</li>
<li>
	<a href="mailto:lizlberberena@gmail.com" title="LizLBerberena@gmail.com" target="_blank"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
</li>
</ul>
</div>
</div>
